/*Copyright Takunda Ashleigh Zuweni*/
body {
background: black;
overflow: hidden;
}

.start-div h3 {
	font-family: Corbel;
	font-weight: 300;
	letter-spacing: 0.2em;
}

.start.div {
	width: 50%;
	margin-top: 300px;
}

.game {
	display: none;
}

.end-div {
	display: none;
}

.progress-bar {
border: 1px solid red;
width: 300px;
position: fixed;
top: 30px ; right: 30px;
z-index: 10;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
}

.progress-bar > div {
height: 20px ;
background: red;
width: 0%;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
}

.baddies-progress {
	position: fixed;
	font-size: 14px;
	font-weight: 600px;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	top: -3px;
	right: 50px;
	z-index: 10;
	width: 300px;
	text-align: center;
}

.time-progress-bar {
border: 1px solid green;
width: 300px;
position: fixed;
top: 30px ; left: 30px;
z-index: 10;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
}

.time-progress-bar > div {
height: 20px ;
background: green;
width: 0%;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
}

.time-progress {
	position: fixed;
	font-size: 14px;
	font-weight: 600px;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	top: -3px;
	left: 50px;
	z-index: 10;
	width: 300px;
	text-align: center;
}

a {
	font-weight: 900;
}